@use "../base/variables" as v;

.container {
  max-width: v.$container-max-width;
  min-width: v.$container-max-width;

  &__navbar {
    margin-bottom: 130px;
  }

  &__main {
  }

  &__footer {
    margin-top: 166px;
  }
}
