.main {
  &__header {
  }

  &__services {
    margin-top: 214px;
  }

  &__destinations {
    margin-top: 123px;
  }

  &__booking {
    margin-top: 186px;
  }

  &__reviews {
    margin-top: 200px;
  }

  &__sponsors {
    margin-top: 96px;
  }

  &__subscribe {
    margin-top: 158px;
  }
}
