@use '../base/colors';
@use '../base/mixins' as m;

.footer {
    font-family: "Poppins";
    
    &__content {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    &__logo-block {
    }

    &__social {
    }

    &__info {
        display: flex;
    }
}

.footer-logo-block {
    max-width: 207px;
    width: 100%;

    &__logo {    
        font-weight: 500;
        font-size: 44px;
        color: #181E4B;
        margin: 0;
    }

    &__info {
        margin-top: 27px;
        color: colors.$dark-sky;
        font-size: 13px;
        font-weight: 500;
    }
}

.footer-info {
    max-width: 474px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    &__section {
    }
}

.footer-info-section {
    height: 100%;
    max-height: 153px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__title {
        font-size: 21px;
    }

    &__info-block {
        height: 91px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__text {
        font-size: 18px;
        color: colors.$dark-sky;
        font-weight: 500;
        @include m.scale-hover(1.05, 0.15s, ease);
        &:hover {
            text-decoration: underline;
        }
    }
}

.footer-social {
  &__links {
    
  }

  &__store {
  }
}

.footer-social-links {
    max-width: 177px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    &__button {
        @include m.scale-hover(1.10, 0.15s, ease);
    }

    &__icon {
    }
}

.footer-social-store {
    max-width: 214px;
    width: 100%;
    margin-top: 9px;
    display: flex;
    justify-content: space-between;

    &__content {
    }

    &__title {
        font-weight: 500;
        color: colors.$dark-sky;
        font-size: 20px;
    }

    &__buttons {
        margin-top: 16px;
        display: flex;
        gap: 12px;
    }

    &__button {
        display: inline-block;
        @include m.scale-hover(1.10, 0.15s, ease);
    }
}