@use "../base/colors.scss";
@use "../base/mixins.scss" as m;
@use "../base/variables.scss" as v;

.header {
  font-family: "Poppins", sans-serif;
  padding: 0 v.$content-padding-x;
  position: relative;

  &__info {
  }

  &__decoration {
  }
}

.header-info {
  &__title-block {
  }

  &__sub-title {
    font-size: 20px;
    font-weight: 700;
    color: colors.$red;
  }

  &__title {
    margin-top: 24px;
    width: 100%;
    font-size: 84px;
    font-family: "Volkhov", sans-serif;
    letter-spacing: -2px;
    color: colors.$dark-blue;
    position: relative;

    &::before {
      content: "";
      left: 250px;
      top: 68px;
      position: absolute;
      background-image: url("../../assets/images/underline.svg");
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      z-index: -100;
    }
  }

  &__info {
    margin-top: 30px;
    max-width: 477px;
    font-weight: 500;
    color: colors.$dark-sky;
    line-height: 30px;
  }

  &__button-block {
    margin-top: 34px;
    display: flex;
    gap: 44px;
  }

  &__find-button {
    width: 170px;
    height: 60px;
    font-family: "GoogleSans", sans-serif;
    font-size: 18px;
    font-weight: 500;
    border-radius: 10px;
    background-color: #f1a501;
    color: white;
    box-shadow: 0px 15px 30px 0px rgba(241, 165, 1, 0.25);
    @include m.scale-hover();
  }

  &__play-button-block {
  }
}

.play-button-block {
  display: flex;
  align-items: center;
  gap: 21px;

  &__play-button {
    width: 52px;
    height: 52px;
    position: relative;
    background-color: colors.$red;
    border-radius: 50%;
    box-shadow: 0px 15px 30px 0px rgba(223, 105, 81, 0.25),
      0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    @include m.scale-hover();

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 55%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      background-image: url("../../assets/icons/play.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &__info {
    font-family: "Poppins", sans-serif;
    font-size: 17px;
    font-weight: 500;
    color: #686d77;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.header-decoration {
  &__traveller {
    width: 765px;
    top: -155px;
    right: 105px;
    position: absolute;
    z-index: -90;
    object-fit: cover;
  }

  &__traveller-bg {
    width: 704px;
    top: -265px;
    right: 0;
    position: absolute;
    z-index: -100;
    object-fit: cover;
  }
}
