@use "../base/colors";

.service-card {
  &__content {
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 45px;
  }

  &__icon {
    max-width: 75px;
  }

  &__title {
    font-family: "GoogleSans";
    font-weight: 600;
    font-size: 20px;
    color: #1e1d4c;
    text-align: center;
  }

  &__info {
    margin-top: 16px;
    max-width: 190px;
    font-family: "Poppins";
    color: colors.$dark-sky;
    line-height: 26px;
    text-align: center;
  }
}
