@use "../base/colors";

.service-card {
  position: relative;
  width: 267px;
  height: 314px;
  border-radius: 36px;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__icon {
    position: absolute;
    max-width: 75px;
    padding: 30px 0;
    left: 50%;
    transform: translateX(-50%);
  }

  &__title {
    margin-top: 149px;
    font-family: "GoogleSans";
    font-weight: 600;
    font-size: 20px;
    color: #1e1d4c;
    text-align: center;
  }

  &__info {
    max-width: 180px;
    margin-top: 16px;
    font-family: "Poppins";
    color: colors.$dark-sky;
    line-height: 26px;
    text-align: center;
  }

  &--weather &__icon {
    max-width: 92px;
    width: 100%;
  }

  &--flights &__icon {
    max-width: 166px;
    width: 100%;
    padding: 0;
  }

  &--flights {
    background-color: white;
    box-shadow: inset 0 100px 80px 0 rgba(0, 0, 0, 0.02),
      0 65px 47px 0 rgba(0, 0, 0, 0.015), 0 39px 25px 0 rgba(0, 0, 0, 0.012),
      0 20px 13px 0 rgba(0, 0, 0, 0.01);

    &::before {
      content: "";
      position: absolute;
      bottom: -35px;
      left: -35px;
      width: 100px;
      height: 100px;
      border-radius: 30px 0 10px 0;
      background-color: colors.$red;
      z-index: -100;
    }
  }

  &--events &__icon {
    max-width: 67px;
    width: 100%;
  }

  &--customization &__icon {
    max-width: 77px;
    width: 100%;
  }
}
