.status-card {
  &__content {
  }

  &__img {
  }

  &__title {
  }

  &__date-block {
  }

  &__date {
  }

  &__organizer {
  }

  &__icons-block {
  }

  &__icon {
  }

  &__favorite-block {
  }

  &__people-block {
  }

  &__people-info {
  }

  &__favorite-button {
  }

  &__dialog {
  }
}
