// base styles
@use './base/reset';
@use './base/variables';
@use './base/mixins';
@use './base/fonts';
@use './base/colors';

// layout styles
@use './layout/container';

// component styles
@use './components/navbar';
@use './components/footer';