/* Box model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margins & paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  margin-block-start: 0;
  margin-block-end: 0;
}

/* Body defaults */
html,
body {
  height: 100%;
}

body {
  line-height: 1;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

/* Lists */
ul,
ol {
  list-style: none;
}

/* Links */
a {
  text-decoration: none;
  color: inherit;
}

/* Images */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Forms */
button,
input,
textarea,
select {
  font: inherit;
  border: none;
  background: none;
  outline: none;
}

/* Tables */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
